<div class='course_review' id='<% course_review.id %>'>	
	<hr>		
	<div><% user = get_user(@users, course_review.user_id) %></div>
	<strong><%= user.name %></strong>
	<%= gravatar_for user %>
	<div class='star'>
		<% (1..5 ).each do |num| %>
			<%= star_button( course_review.id , course_review.rating , num , 1 , true )  %>
		<% end %>
	</div>
	<li><%= course_review.text %></li>
</div>	