<h2><%= @course.title %></h2>	

<div class='video'>
	<iframe width="560" height="315" src=<%= @course.youtube_url %> frameborder="0" allowfullscreen></iframe>
</div>
<br></br>
<div class='span1'>
	<span class='course'><%= image_tag @course.image_url%></span>
</div>
<div class='span8'>
	<strong>Description:</strong> <%= CGI.unescape(@course.description) %>
</div>
<br></br>
<br></br>