<% provide(:title, "#{@course.provider} #{@course.course_code} - #{@course.title}")%>
<p id="notice"><%= notice %></p>

	
<div class="row-fluid">
	<%=render 'courses/course_sidebar'%>
	<div class="span8">
		<%= render 'courses/course_page'%>
	</div>
</div>
