@import "bootstrap";

/* mixins, variables, etc. */

$grayMediumLight: #eaeaea;

/* universal */

html {
  overflow-y: scroll;
}

body {
  padding-top: 60px;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
  h1 {
    margin-bottom: 10px;
  }  
}

/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 1.7em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: $grayLight;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}

/* header */

#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
  line-height: 1;
  &:hover {
    color: #fff;
    text-decoration: none;
  }
}

/* footer */

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid $grayMediumLight;
  color: $grayLight;
  a {
    color: gray;
    &:hover { 
      color: $grayDarker;
    }
  }  
  small { 
    float: left; 
  }
  ul {
    float: right;
    list-style: none;
    li {
      float: left;
      margin-left: 10px;
    }
  }
}

#tag-sidebar{
	
	ul{
		list-style-type:none;
	}
}

.tweets{
	.tweet{
		font-family: "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
		font-weight: 300;
		padding: 10px 0;
		font-size:18px;
	}
}

/*sidebar*/
.sidebar{
	line-height:4em;
}
.sidebar-module{
	*zoom:1;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	-o-border-radius:6px;
	-ms-border-radius:6px;
	-khtml-border-radius:6px;
	border-radius:6px;
	margin-bottom:20px;
	background-color:#f4f5f8;
}

.sidebar-module .header,.sidebar-module.startup .header {
zoom:1;
padding:15px;
}

.sidebar-module .header:after,.sidebar-module.startup .header:after {
content:"";
display:table;
clear:both;
}

.sidebar-module .header .pic,.sidebar-module.startup .header .pic {
float:left;
margin-right:10px;
height:28px;
width:28px;
}

.sidebar-module .header .pic img,.sidebar-module.startup .header .pic img {
height:28px;
width:28px;
-moz-border-radius:3px;
-webkit-border-radius:3px;
-o-border-radius:3px;
-ms-border-radius:3px;
-khtml-border-radius:3px;
border-radius:3px;
}

.sidebar-module .header .name,.sidebar-module.startup .header .name {
min-height:28px;
}

.sidebar-module .header .name a,.sidebar-module.startup .header .name a {
position:relative;
top:5px;
color:#333;
font-weight:700;
}

.sidebar-module .header .name a:hover,.sidebar-module.startup .header .name a:hover {
text-decoration:none;
}

.sidebar-module .header a.more,.sidebar-module.startup .header a.more {
float:right;
display:inline-block;
cursor:pointer;
color:#999;
font-weight:700;
min-height:1em;
margin:5px 0 0 10px;
}

.sidebar-module .header a.more:hover,.sidebar-module.startup .header a.more:hover {
color:#333;
text-decoration:none;
}

.sidebar-module .header a.more:active,.sidebar-module.startup .header a.more:active {
color:#3078ca;
}
.angel_image{height:64px;width:64px}

/*sidebar ul*/
.sidebar-module ul{
	list-style-type:none;padding:0;margin:0;
}
.sidebar-module .section:not(:first-child) {
border-top:1px solid #fff;
}

.sidebar-module .section:not(:last-child) {
border-bottom:1px solid #e5e7e9;
}

.sidebar-module .section {
padding:10px 7px 12px;
}

html.handheld .sidebar-module .section ul:not(.my_startups) {
display:block!important;
}

.sidebar-module .section ul:not(.my_startups) li.home_nav_item {
width:100%;
-moz-box-sizing:border-box;
-webkit-box-sizing:border-box;
-ms-box-sizing:border-box;
box-sizing:border-box;
list-style:none;
float:left;
font-size:13px;
font-weight:700;
margin:0;
}

html.handheld .sidebar-module .section ul:not(.my_startups) li.home_nav_item {
white-space:nowrap;
overflow:hidden;
border-right:1px #f2f3f4 solid;
font-size:1em;
font-weight:400;
-moz-box-sizing:border-box;
-webkit-box-sizing:border-box;
-ms-box-sizing:border-box;
box-sizing:border-box;
float:none;
display:block;
width:100%;
text-align:left;
padding-left:15px;
padding-right:15px;
}

.sidebar-module .section ul:not(.my_startups) li.home_nav_item:hover {
background-image:linear-gradient(top,#ededf0,#e1e4e6);
color:#3078ca;
text-shadow:#fff 0 1px 0;
}

.sidebar-module .section ul:not(.my_startups) li.home_nav_item:active {
background-image:linear-gradient(bottom,#ededf0,#e1e4e6);
color:#3078ca;
text-shadow:#fff 0 -1px 0;
-webkit-tap-highlight-color:rgba(0,0,0,0);
}

.sidebar-module .section ul:not(.my_startups) li.home_nav_item>a {
-moz-box-sizing:border-box;
-webkit-box-sizing:border-box;
-ms-box-sizing:border-box;
box-sizing:border-box;
float:left;
width:100%;
height:100%;
outline:none;
padding:5px 10px;
}

html.handheld .sidebar-module .section ul:not(.my_startups) li.home_nav_item>a {
padding-left:0;
padding-right:0;
}

.sidebar-module .section ul:not(.my_startups) li.home_nav_item>a .notification_counter {
float:right;
}

.sidebar-module .section ul:not(.my_startups) li.home_nav_item>a .unread {
background-color:#e0edf5;
-moz-border-radius:2px;
-webkit-border-radius:2px;
-o-border-radius:2px;
-ms-border-radius:2px;
-khtml-border-radius:2px;
border-radius:2px;
-moz-box-shadow:#fff 0 0 1px;
-webkit-box-shadow:#fff 0 0 1px;
-o-box-shadow:#fff 0 0 1px;
box-shadow:#fff 0 0 1px;
color:#3078ca;
float:right;
margin-right:-4px;
font-weight:500;
font-size:inherit;
text-shadow:1px 1px #fff;
padding:0 5px;
}

.sidebar-module .section ul:not(.my_startups) li.home_nav_item>a .edit {
-moz-border-radius:2px;
-webkit-border-radius:2px;
-o-border-radius:2px;
-ms-border-radius:2px;
-khtml-border-radius:2px;
border-radius:2px;
-moz-box-shadow:#fff 0 0 1px;
-webkit-box-shadow:#fff 0 0 1px;
-o-box-shadow:#fff 0 0 1px;
box-shadow:#fff 0 0 1px;
color:#3078ca;
float:right;
margin-right:-4px;
font-weight:500;
font-size:inherit;
text-shadow:1px 1px #fff;
padding:0 5px;
}

.sidebar-module .section ul:not(.my_startups) li.home_nav_item.selected,.sidebar-module .section ul:not(.my_startups) li.home_nav_item.selected:hover {
background-image:linear-gradient(top,#f8f8f9,#f2f3f4);
}

.sidebar-module .section ul:not(.my_startups) li.home_nav_item.selected>a,.sidebar-module .section ul:not(.my_startups) li.home_nav_item.selected:hover>a {
color:#333;
cursor:default;
}

.sidebar-module .section ul:not(.my_startups) li.home_nav_item.no_effects:hover,.sidebar-module .section ul:not(.my_startups) li.home_nav_item.no_effects:active {
background-image:none;
color:inherit;
text-shadow:none;
text-decoration:none;
}

.sidebar-module .section ul li.home_nav_item.separator,.sidebar-module .section ul li.home_nav_item.nav-separator {
border-bottom:1px solid #fff;
border-top:1px solid #e7e9eb;
margin:5px 0 3px;
}

.sidebar-module .section ul li.home_nav_item.heading {
font-weight:700;
text-transform:uppercase;
font-size:.77em;
color:#aaa;
margin:5px 0;
padding:0 9px;
}

.sidebar-module .section ul li.home_nav_item.heading:hover {
background:none;
color:#aaa;
}

.sidebar-module .section ul li.home_nav_item:not(.selected):hover {
background-color:#fff;
background-image:none;
-moz-border-radius:3px;
-webkit-border-radius:3px;
-o-border-radius:3px;
-ms-border-radius:3px;
-khtml-border-radius:3px;
border-radius:3px;
}

.sidebar-module .section ul li.home_nav_item a {
-moz-box-sizing:border-box;
-webkit-box-sizing:border-box;
-ms-box-sizing:border-box;
box-sizing:border-box;
display:block;
width:100%;
color:#333;
padding:5px 8px;
}

.sidebar-module .section ul li.home_nav_item a strong {
width:85%;
}

.sidebar-module .section ul li.home_nav_item a img.load,.sidebar-module .section ul li.home_nav_item a span.unread {
float:right;
vertical-align:middle;
margin-top:auto;
}

.sidebar-module .section ul li.home_nav_item a span.unread {
min-height:19px;
margin-right:-3px;
}

.sidebar-module .section ul li.home_nav_item:hover>a,.sidebar-module .section ul li.home_nav_item a:hover {
text-decoration:none;
}

/* Left bar */
.cb{
	clear:both;
}

.gravatar {
  float: left;
  margin-right: 10px;
}

/* forms */

input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  padding: 10px;
  height: auto;
  margin-bottom: 15px;
}

#error_explanation {
  color: #f00;
  ul {
    list-style: none;
    margin: 0 0 18px 0;
  }
}

.field_with_errors {
  @extend .control-group;
  @extend .error;
 }

/* course list */
.course ul, li {
	list-style-type: none;
}

.course img {
	vertical-align: text-top;
}
